/* Regole generali */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.flex {
  display: flex;
}

/* Sezione app */

#app {
  width: 100vw;
  min-height: 100vh;
  background-color: #434343;
}

header {
  height: 80px;
  width: 100%;
  background-color: black;
  justify-content: space-between;
  align-items: center;
}

img.logo {
  height: 60px;
  margin-left: 20px;
}

.search {
  color: white;
  margin-right: 40px;
}

.search input, button {
  padding: 10px;
}

.search button {
  background-color: red;
  color: white;
  border: 1px solid white;
}

.db {
  width: 95%;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 20px;
}

.movie {
  width: 200px;
  height: 250px;
  background-color: black;
  color: white;
  margin: 10px;
  padding: 5px;
  border: 2px solid white;
  position: relative;
}

.poster{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.info {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.info li {
  list-style: none;
}

.coloured {
  color: orange;
}

.overview {
  position: relative;
   white-space: nowrap;
   max-height: 70px;
   overflow: hidden;
   text-overflow: ellipsis;
}

img.flag {
  height: 20px;
  width: auto;
  padding: 2px;
}

/* Regole hover */

:hover {
  cursor: pointer;
}
.movie:hover .info {
  opacity: 1;
}

.movie:hover .poster {
  opacity: 0;
}
